.proga {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: 10px;
  margin-bottom: 22px;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    width: 600px;
    height: 200px;
    img {
      width: 150px;
      height: 150px;
      margin-left: 40px;
    }
    h1 {
      width: 200px;
      height: 100px;
      color: #7f858d;
      font-size: 13px;
      font-weight: 300;
      padding: 10px 0 10px 70px;
      line-height: 1.4;

      margin-right: 40px;
      border-left: 2px solid #05a8d7;
    }
  }
}
