* {
  margin: 0px;
  padding: 0px;
  border: transparent;
  list-style: transparent;
  outline: transparent;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif !important;
  text-decoration: transparent;
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif !important;
  border: transparent;
  // border:transparent;
  background: #f2f2f2;
  // color:white;
}
